<%= form_for([@note, @note_attachment], :html => {:multipart => true}) do |f| %>
  <% if @note_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note_attachment.errors.count, "error") %> prohibited this note_attachment from being saved:</h2>

      <ul>
      <% @note_attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
  </div>
  <div class="field">
    <textarea id="note-area">

    </textarea>
  </div>
  <div class="field">
    <%= f.label :note_id %><br>
    <%= f.text_field :note_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_include_tag "note_attachment" %>
