<div class='note-edit'>
  <form class="note-edit-form" role="form">
  <div class='note-top-control-wrap'>
    <div class='form-input-control-wrap'>
      {{view Ember.TextField id="inputName" class="form-input-control" valueBinding="name" placeholder='Name' }}
      <p style='display:none' class='error-message' ><span>{{errors.name}}</span></p>
    </div>
    <div class='form-input-control-wrap'>
      <input id='noteTagInput' type='text' style='position:absolute;left:30px;' placeholder='add tag'>
    </div>
  </div>

  <div class='note-edit-textarea-wrap'>
    {{view Ember.TextArea id="inputNote" class="note-edit-textarea" valueBinding="content.content" placeholder='Note'}}
  </div>
    <div class="form-group note-edit-bottom-control">
      <div class="">
        {{#if isSaving}}
          <button type="submit" class="btn btn-primary">
            Saving....
          </button>
        {{else}}
          <button {{action 'save'}} type="submit" class="btn btn-primary">
            Save
          </button>
        {{/if }}
        <button {{action 'cancel'}} type="submit" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </form>
</div>
<div id='preview' class='preview'>
  <div id='preview-content'>

  {{markdown content.content}}
  </div>
</div>