<div class='note-show'>
  <div class="row note-header" >
    <div class="note-show-left">
      <span class='name'>
        {{name}}
      </span>
      {{#each tagging in taggings}}
        <span class="label label-default tag-label" {{bind-attr style=tagging.tag.styleColor}}>
          {{tagging.tag.name}}
        </span>
      {{/each}}
    </div>
    <div class='note-show-right'>
      <span class='info'>
        updated at: {{formatDate updated_at 'L'}}
      </span>
      {{#link-to 'note.edit' this.id class='btn btn-default btn-xs'}}
      <span class='glyphicon glyphicon-edit'></span>
      {{/link-to}}
      <button class='btn btn-default btn-xs' {{action 'delete' view.context}} >
        <span class='glyphicon glyphicon-trash'></span>
      </button>
    </div>
  </div>
  <div class='content-markdown'>
    {{view App.MarkDownView contentBinding="content"}}
  </div>
</div>
