<div class="container">
  <div class="header" style="margin-bottom:10px;border-bottom:1px solid #e5e5e5">
    <h3 class="text-muted">Ember Note</h3>
  </div>


  <div class="jumbotron">
    <h1>Ember Note</h1>
    <p class="lead">
      Simple Note with Ember.js
    </p>
  </div>

  <div class="row">
    <div class="col-md-6">

      <p style="padding:10px">
        email: demouser@demo.com <br>
        password: demouser
      </p>


      <% if flash[:alert] %>
      <p style="background:#f2dede;padding:15px">
        <%= flash[:alert] %>
      </p>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name),
          :html => { role: "form", class: "form-horizontal"}) do |f| %>

      <div class="form-group">
        <%= f.label :email, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :value=>"demouser@demo.com" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password, :class => "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Sign in", class: "fa btn btn-success btn-lg" %>
        </div>
      </div>

      <% end %>
    </div>
  </div>
  <div style="padding:20px 0px">
    <hr>
      Sign in
      <%= link_to "<span>&#xf099;</span> with Twitter".html_safe, user_omniauth_authorize_path("twitter"), class: "fa btn btn-info btn-lg" %>
      <%= link_to "<span>&#xf09b;</span> with GitHub".html_safe, user_omniauth_authorize_path("github"), class: "fa btn btn-default btn-lg" %>
  </div>

  <div class="footer">
    <p>© Hitoshi Nakada 2014</p>
  </div>
</div>
